.container {
  border: solid 1px rgb(9, 255, 0);
}
.containerHeader {
  padding: 0 2rem;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: solid 1px red;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.socialnetwork {
  display: flex;
  align-items: stretch;
}
.socialnetwork > a {
  padding: 0 15px 0;
  border: solid 1px red;
}

@media (max-width: 1280px) {
  .navbar {
    flex-direction: row-reverse;
    border: solid 1px rgb(25, 0, 255);
  }
}
@media (max-width: 720px) {
  .navbar {
    flex-direction: column;
    border: solid 1px rgb(25, 0, 255);
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    border: solid 1px rgb(25, 0, 255);
  }
}
