.container {
  padding: 0 2rem;
  overflow: hidden;
}
.containerBlue {
  background-color: var(--background-blue);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
}
.fcenter {
  align-items: center;
  justify-content: center;
}
.fstart {
  align-items: center;
  justify-content: flex-start;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.25s ease, border-color 0.25s ease;
  max-width: 300px;
  width: 300px;
  height: 474px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
  background: #d1d1d14f;
}

.card:hover h2,
.card:hover .articleButton {
  color: var(--hover);
  display: block;
}

.card h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--text);
}
.card span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--text);
  margin-bottom: 0.5rem;
}
.card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--description);
  margin: 0;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  position: relative;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.articleButton {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: none;
  margin-top: 33px;
  margin-bottom: 25px;
}













.icons{
  margin: 0em 2em;
}
