:root {
  --hover: #009CD9;
  --disabled: #CFCFCF;
  --text: #24272A;
  --description: #3F454A;
  --hover: #D8AD3D;
  --error: #B72C2C;
  --background-blue: #009cd90f;

  --max-lines: 3;
  --lh: 1.4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Caveat', cursive, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
